.homebox{
    background-color: #2E2E2E;
    border-color: #E5E7EB;
    border-radius: 16px;
    width: 1125px;
    height: 3000px;
    margin-top: 0px;
    padding: 30px;
    
}

.box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.imagen {
    transform: rotate(45deg);
}

.homepage{
    background-color: black;
    width: 95,2%;
    height: 100%;
    padding: 30px;
}

.recommend {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
}

.headerTitle {
    font-size: 2rem;
    font-weight: bold;
    color: white;
    font-family: 'Montserrat', sans-serif;
  }

  .subtitle {
    font-size: 1.3rem;
    font-weight: bold;
    color: white;
    font-family: 'Montserrat', sans-serif;
  }

.button{
    width: 176px;
    background-color: #8305F3;
    border-radius: 26px;
    padding: 16px;
    border: none;
    cursor: pointer;
    color: white;
    font-weight: bold;
    margin-top: 30px;
}

.button:hover{
    background-color: white;
    color: #8305F3;
    border-color: #8305F3;
}

html, body {
    margin: 0px;
}

.title {
    font-size: 1.5rem;
    font-weight: bold;
    color: white;
    font-family: 'Montserrat', sans-serif;
  }

.opciones {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.info {
    display: flex;
    flex-direction: column;
    gap: 5px;
}


.opciones img {
    width: 200px; /* Ajusta según lo que necesites */
    height: auto; /* Mantiene la proporción */
    border-radius: 16px;
    border: none;
}